<h3><i class="fa-solid fa-blog"></i> GeekWrite</h3>
<div class="section">
    <p class="lead"></p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fa-brands fa-google-plus-g left"></i> Log In With Google
    </a>
</div>